<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /giaoxetannha/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /giaoxetannha/index.html [L]
</IfModule>
